.custom-select {
    position: relative;
    
    .select-selected {
        width: max-content;
        cursor: pointer;
        user-select: none;
        font-size: 32px;
        font-weight: 500;
        position: relative;
        padding-right: 40px;
        
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 6px;
            width: 8px;
            height: 8px;
            border-right: 3px solid #2C3336;
            border-bottom: 3px solid #2C3336;
            transform: translateY(-70%) rotate(45deg);
            transition: transform 0.3s ease;
        }
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -5px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            box-sizing: border-box;
            border: 1px solid #E1E1E5;
            transition: transform 0.3s ease;
        }
        &.select-arrow-active:after {
            transform: translateY(-30%) rotate(-135deg);
            border-color: #fff;
        }
        &.select-arrow-active::before{
            background-color: #0071E3;
        }
    }
    
    .select-items {
        width: max-content;
        min-width: 150px;
        position: absolute;
        background-color: #fff;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        border-radius: 8px;
        overflow-y: auto;
        box-shadow: 0px 1px 1px 0px #00000003;

        
        div {
            padding: 14.5px 16px;
            cursor: pointer;
            user-select: none;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 0;
            
            &:hover {
                color: #0071E3;
            }
            
        
        }
    }
    
    .select-hide {
        display: none;
    }
}
